@model SM.LIB.VM.Account.ClassViewAndUpdateModel


    <div class="panel panel-default panel-table">
        <div style="background-color:dodgerblue">
            <div class="panel-heading bigFont">
                Selected Class and Section
            </div>
        </div>
        <div class="panel-body panel-border">
            <div class="panel-heading">
                @if (Model.SClassList != null)
                {
                    foreach (var sclass in Model.SClassList)
                    {
                        <hr />
                        <div class="col-sm-4">
                            <label class="control-label">@sclass.Name</label>
                        </div>
                            <div class="col-sm-8">
                                @foreach (var ssec in sclass.ListOfSection)
                                {
                                    <label class="control-label">@ssec.Name</label>
                                }
                            </div>
                    }
                }
                else
                {
                    <div class="col-sm-4">
                        <label class="control-label">No Class has been Added</label>
                    </div>
                        <div class="col-sm-8">
                            <label class="control-label">No Section</label>
                        </div>
                        <h4>PLease Add Class and Sections accordingly</h4>
                }


            </div>
        </div>
    </div>
